language: php

php:
    - 5.6
    - 7.0
    - 7.1

cache:
  directories:
    - $HOME/.composer/cache
    - node_modules
    - resources/vendor

before_script:
    - cp .env.travis .env
    - composer install --no-interaction
    - nvm install 6
    - npm install
    - npm run tests:travis-bower
    - npm run tests:travis-gulp

script:
    - composer run-script test
