body {
	font-family: 'Lato';
	font-size: 17px;
}
footer {
	background-color: #2c3e50;
    color: #ddd;
    min-height: 200px;margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 50px;
}
footer h4 {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}
footer .nav>li>a {
    padding: 3px;
    color: #ccc;
}
footer .nav>li>a:hover {
    background-color: transparent;
	color: #fff;
}
a.navbar-brand {
	padding: 0px;
	margin-left: 20px;
	margin-right: 10px;
}
.fa-btn {
	margin-right: 6px;
}
.container__content {
	margin-bottom: 150px;
}
.navbar-brand > img {
	height: 100%;
	padding: 15px;
	width: auto;
	display: inline;
}
