@font-face {
  font-family: 'wireless-monitor';
  src:  url('fonts/wireless-monitor.eot?7y1j6o');
  src:  url('fonts/wireless-monitor.eot?7y1j6o#iefix') format('embedded-opentype'),
    url('fonts/wireless-monitor.ttf?7y1j6o') format('truetype'),
    url('fonts/wireless-monitor.woff?7y1j6o') format('woff'),
    url('fonts/wireless-monitor.svg?7y1j6o#wireless-monitor') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wireless-monitor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wm-icon-temperature:before {
  content: "\e900";
}
.wm-icon-photoresistor:before {
  content: "\e901";
}
.wm-icon-led:before {
  content: "\e902";
}
